:root{
  --primary-color: #f3136d;
  --darker-color: #1c1b1c;
  --light-black: #4b4e4e;
  --white: #e0e1dd;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--darker-color);
}

.primaryColor{
  color: var(--primary-color);
}

.lightBlack{
  color: var(--light-black);
}

.white{
  color: var(--white);
}